<h1>All Restaurants</h1>

<ul class="index__list--link">
    <% @restaurants.each do |resto| %>
      <li class="index__list">
      <%= link_to resto.name, restaurant_path(resto) %>
      </li>
    <% end %>
</ul>
<%= link_to "Add a new Restaurant", new_restaurant_path, class: 'btn btn-primary' %>
